.main {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  padding: 6rem;
  min-height: 50vh;
  background-color: black;
}
.frm{
  background-color: rgb(121, 80, 159);
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: .05vw;
  margin-left: 10vw;
  margin-top: 3vh;
  color: goldenrod;
}
.ct{
  background-color: black;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: aliceblue;
}
.ct:hover{
  background-color: chartreuse;
}
.ut{
  background-color: black;
  padding: 5px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: aliceblue;
}
.ut:hover{
  background-color: red;
}
.btns{
  display: flex;
  gap: 10px;
  color: green;
}